Meta
doc
.Rproj.user
.Rhistory
.RData
tests/testthat/examples/*.rds
tests/testthat/examples/malaria_*
issues.md
tests/testthat/*.c
tests/testthat/tmp*
inst/doc
inst/web
tests/testthat/interpolate/Makevars
tests/testthat/joel.R
tests/testthat/joel
tests/testthat/eugene
.valgrind_ignore
docs
*~
TODO.md
build/
.V8history
